<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moje-objednavka</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Váše objednávka</h2>
    <% if(polozky) { %>
        <ul>
            <% for(polozka in polozky) { %>
                <li><%= polozka %> <%= polozky[polozka] %> ks</li>
            <% } %>
        </ul>
    <% } %>
    
    <h3>Zvolte způsob dopravy</h3>
    <form method="post" action="/moje-objednavka">
        <input type = "radio" id="vyzvednoutNaProdejne" name="zpusobDopravy" value="prodejna">
        <label for="vyzvednoutNaProdejne">Vyzvednout na prodejně<strong> zdarma</strong></lable><br>
        <input type = "radio" id="zasilkovnaNaAdresu" name="zpusobDopravy" value="naAdresu">
        <label for="zasilkovnaNaAdresu">Zásilkovna doručení na adresu 95Kč</lable><br>
        <input type = "radio" id="zasilkovna" name="zpusobDopravy" value="Zásilkovna">
        <label for="zasilkovna">Zásilkovna 75Kč</lable><br>
    <input type="submit">Dokončit objednavku</button><br></br>
    </form>
    <form method="post" action="/konec-objednavky">
        <h2>Sem zadejte údaje platební karty, o nic se nebojte</h2>
        <input type="text" id="udajePlatebniKarty" name="udajePlatebniKarty" value="...">
        <br><br>
        <input type="submit"></button>
    </form>

    <!--<input type = "radio" id="vyzvednoutNaProdejne" name="zpusobDopravy" value="prodejna">
    <lable for="vyzvednoutNaProdejne">Vyzvednout na prodejně<strong> zdarma</strong></lable><br>
    <input type = "radio" id="zasilkovnaNaAdresu" name="zpusobDopravy" value="naAdresu">
    <lable for="zasilkovnaNaAdresu">Zásilkovna doručení na adresu 95Kč</lable><br>
    <input type = "radio" id="zasilkovna" name="zpusobDopravy" value="Zásilkovna">
    <lable for="zasilkovna">Zásilkovna 75Kč</lable><br>
    <button onclick="myFunction()">Dokončit objednavku</button>
    -->

    <script>
        function myFunction(){
            let zvolenyZpusob = '';

            if(document.getElementById('vyzvednoutNaProdejne').checked){ 
                zvolenyZpusob = "prodejna"
            }
            else if(document.getElementById('zasilkovnaNaAdresu').checked){
                zvolenyZpusob = "adresa"
            }
            else if(document.getElementById('zasilkovna').checked){
                zvolenyZpusob = "zasilkovna"       
            }
            
            fetch("/doprava",{
                method:"post",
                body: JSON.stringify({
                    "data": zvolenyZpusob
                }),
                headers: {
                    "Content-type": "application/json"
                }
            });
            
        }
    </script>
</body>
</html>