<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrace</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/registrace" method="post">
        <lable for="jmeno">Jméno:</lable>
        <input type="text" name="jmeno"><br />
        <lable for="heslo">Heslo:</lable>
        <input type="password" name="heslo"><br/>
        <lable for="Zkontrolujte heslo">Zkontrolujte heslo</lable>
        <input type="password" name="heslo_znovu"><br />
        <input type="submit" value="Pokračovat">
    </form>
    <% if(typeof chyba_registrace !== 'undefined') { %>
        <span style="color: red;"><%=chyba_registrace%></span>
    <% } %>
</body>
</html>